# Dependencies
node_modules/
.env
package-lock.json

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# Backend
backend/node_modules
backend/.env

# Frontend
frontend/**/node_modules

# Build outputs
frontend/**/dist

# OS
.DS_Store
