.buy-window .container {
    --radius: 4px;
    width: 40%;
    height: 63%;
    background: rgb(245, 245, 245);
    position: absolute;
    bottom: 0;
    left: 35%;
    cursor: move;
    box-sizing: border-box;
    z-index: 100;
    border-radius: var(--radius);
    border: 1px solid rgb(238, 238, 238);
}

.buy-window .dragging {
    opacity: 0;
}

.buy-window .container .header {
    width: 100%;
    background: #4184f3;
    box-sizing: border-box;
    padding: 16px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.buy-window .header h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.buy-window .header h3 span {
    font-size: 0.6rem;
}

.buy-window .market-options {
    font-weight: 300;
    color: #fff;
    font-size: 0.8rem;
}

.market-options label,
.order-validity label input,
.sub-order-type label,
.sub-order-type label input,
.stop-loss-type label,
.stop-loss-type label input {
    margin-right: 6px;
    cursor: pointer;
}

.market-options input[type="radio"] {
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 2px;
    margin-right: 6px;
}

.buy-window .tab {
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-bottom: 2px solid rgba(180, 180, 180, 0.6);
}

.buy-window .tab button {
    border: none;
    padding: 14px 16px;
    background: transparent;
    color: #4184f3;
    font-weight: 400;
    font-size: 0.8rem;
    cursor: pointer;
}

.buy-window .regular-order {
    padding: 16px 26px;
    background-color: #fff;
    padding-bottom: 30px;
}

.buy-window .regular-order label {
    font-size: 0.8rem;
    cursor: pointer;
}

.buy-window .order-validity {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-window .order-validity label span {
    color: rgb(190, 190, 190);
}

.buy-window .inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}

.buy-window .inputs fieldset {
    max-width: 120px;
    box-sizing: border-box;
    border: 0.7px solid #ddd;
    margin-right: 8px;
}

.buy-window .inputs fieldset legend {
    margin-left: 10px;
    font-size: 0.8rem;
    padding: 0 4px;
}

.buy-window .inputs fieldset:last-of-type legend {
    color: #ddd;
}

.buy-window .inputs fieldset input {
    border: none;
    margin-right: 8px;
    max-width: 130px;
    min-height: 35px;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.buy-window .options {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-window .options span {
    color: #4184f3;
    font-size: 0.8rem;
    cursor: pointer;
}

.buy-window .buttons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10%;
    padding: 0 20px;
}

.buy-window .buttons span {
    font-size: 0.8rem;
}

.buy-window .btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    margin-right: 2px;
    margin-left: 2px;
}

.buy-window .btn-grey {
    background: #d4d4d4;
    color: #666666;
}

.buy-window .btn-blue {
    background: #4184f3;
}

/* sudo selectors */
.buy-window .tab button::after {
    content: "";
    width: 100%;
    height: 3px;
    display: none;
    margin-top: 10px;
    background-color: #4184f3;
}

.buy-window .inputs fieldset:focus {
    outline: none;
    border: 0.7px solid rgb(49, 49, 49);
    border-radius: 2px;
}

.buy-window .inputs fieldset input:focus {
    outline: none;
}

.buy-window .inputs fieldset input:focus {
    outline: none;
}

.buy-window .inputs fieldset input:disabled {
    cursor: not-allowed;
    background-color: transparent;
}

.buy-window .btn-blue:hover {
    background: #74a7fa;
}

.buy-window .btn-grey:hover {
    background: #9b9b9b;
    color: #fff;
}